div.box-wrapper
    div#plain
        a(href="perfectly-plain.html")
            img(src="img/plain.jpg")
            span.name Perfectly Plain
    div#sin
        a(href="sweetest-sin.html")
            img(src="img/sin.jpg")
            span.name Sweetest Sin
    div#drunk
        a(href="drunk-on-caffeine.html")
            img(src="img/drunk.jpg")
            span.name Drunk on Caffeine
    div#caramel
        a(href="fleur-de-caramel.html")
            img(src="img/caramel.jpg")
            span.name Fleur de Caramel
    div#pb
        a(href="peanut-butter-cup.html")
            img(src="img/pb.jpg")
            span.name Peanut Butter Cup
    div#poppy
        a(href="raspberry-delight.html")
            img(src="img/poppy.jpg")
            span.name Raspberry Delight
