{
  "name": "Cupcake Project",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/assets/_fixed-width.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_fixed-width.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_fixed-width.css\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "jade/index.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/index.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"index.html\"}"
    },
    {
      "path": "jade/includes/head.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/includes/head.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"includes/head.html\"}"
    },
    {
      "path": "sass/main.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/main.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"customOutput\":\"css/main.css\"}"
    },
    {
      "path": "sass/assets/_animated.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_animated.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_animated.css\"}"
    },
    {
      "path": "sass/assets/_bordered-pulled.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_bordered-pulled.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_bordered-pulled.css\"}"
    },
    {
      "path": "sass/assets/_core.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_core.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_core.css\"}"
    },
    {
      "path": "sass/assets/_font-awesome.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_font-awesome.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_font-awesome.css\"}"
    },
    {
      "path": "sass/assets/_icons.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_icons.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_icons.css\"}"
    },
    {
      "path": "sass/assets/_larger.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_larger.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_larger.css\"}"
    },
    {
      "path": "sass/assets/_list.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_list.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_list.css\"}"
    },
    {
      "path": "sass/assets/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_mixins.css\"}"
    },
    {
      "path": "sass/assets/_path.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_path.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_path.css\"}"
    },
    {
      "path": "sass/assets/_rotated-flipped.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_rotated-flipped.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_rotated-flipped.css\"}"
    },
    {
      "path": "sass/assets/_stacked.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_stacked.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_stacked.css\"}"
    },
    {
      "path": "sass/assets/_variables.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/assets/_variables.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/assets/_variables.css\"}"
    },
    {
      "path": "sass/base/_base-style.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/base/_base-style.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/base/_base-style.css\"}"
    },
    {
      "path": "sass/base/_reset.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/base/_reset.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/base/_reset.css\"}"
    },
    {
      "path": "sass/base/_settings.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/base/_settings.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/base/_settings.css\"}"
    },
    {
      "path": "sass/base/_typography.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/base/_typography.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/base/_typography.css\"}"
    },
    {
      "path": "sass/partials/_general.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_general.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_general.css\"}"
    },
    {
      "path": "sass/partials/_tobetakencareof.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/partials/_tobetakencareof.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/partials/_tobetakencareof.css\"}"
    },
    {
      "path": "sass/toolbox/_all.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/toolbox/_all.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/toolbox/_all.css\"}"
    },
    {
      "path": "sass/toolbox/_colors.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/toolbox/_colors.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/toolbox/_colors.css\"}"
    },
    {
      "path": "sass/toolbox/_functions.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/toolbox/_functions.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/toolbox/_functions.css\"}"
    },
    {
      "path": "sass/toolbox/_mixins.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"sass/toolbox/_mixins.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/toolbox/_mixins.css\"}"
    },
    {
      "path": "js/jquery-2.2.3.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/jquery-2.2.3.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/jquery-2.2.3.min.js\"}"
    },
    {
      "path": "js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/main.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/main.min.js\"}"
    },
    {
      "path": "js/scripts.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/scripts.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/scripts.min.js\"}"
    },
    {
      "path": "js/scripts.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/scripts.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/scripts.min.min.js\"}"
    },
    {
      "path": "jade/includes/footer.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"jade/includes/footer.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"includes/footer.html\"}"
    },
    {
      "path": "css/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/main.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"customOutput\":\"css/main.min.css\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug",
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "js/scripts.js",
      "imports": [
        "js/jquery-2.2.3.js",
        "js/jquery.sticky-kit.js",
        "js/main.js"
      ]
    },
    {
      "path": "sass/main.scss",
      "imports": [
        "sass/toolbox/_all.scss",
        "sass/assets/_font-awesome.scss",
        "sass/partials/_reset.scss",
        "sass/partials/_general.scss",
        "sass/partials/_home.scss",
        "sass/partials/_recipe.scss",
        "sass/partials/_tobetakencareof.scss",
        "sass/toolbox/_colors.scss",
        "sass/toolbox/_functions.scss",
        "sass/toolbox/_mixins.scss",
        "sass/toolbox/_variables.scss",
        "sass/assets/_variables.scss",
        "sass/assets/_mixins.scss",
        "sass/assets/_path.scss",
        "sass/assets/_core.scss",
        "sass/assets/_larger.scss",
        "sass/assets/_fixed-width.scss",
        "sass/assets/_list.scss",
        "sass/assets/_bordered-pulled.scss",
        "sass/assets/_animated.scss",
        "sass/assets/_rotated-flipped.scss",
        "sass/assets/_stacked.scss",
        "sass/assets/_icons.scss"
      ]
    },
    {
      "path": "sass/assets/_font-awesome.scss",
      "imports": [
        "sass/assets/_variables.scss",
        "sass/assets/_mixins.scss",
        "sass/assets/_path.scss",
        "sass/assets/_core.scss",
        "sass/assets/_larger.scss",
        "sass/assets/_fixed-width.scss",
        "sass/assets/_list.scss",
        "sass/assets/_bordered-pulled.scss",
        "sass/assets/_animated.scss",
        "sass/assets/_rotated-flipped.scss",
        "sass/assets/_stacked.scss",
        "sass/assets/_icons.scss"
      ]
    },
    {
      "path": "sass/toolbox/_all.scss",
      "imports": [
        "sass/toolbox/_colors.scss",
        "sass/toolbox/_functions.scss",
        "sass/toolbox/_mixins.scss"
      ]
    },
    {
      "path": "pug/index.pug",
      "imports": [
        "pug/includes/head.pug",
        "pug/includes/more.pug",
        "pug/includes/footer.pug"
      ]
    },
    {
      "path": "pug/raspberry-delight.pug",
      "imports": [
        "pug/recipe.pug",
        "pug/includes/head.pug",
        "pug/includes/more.pug",
        "pug/includes/footer.pug"
      ]
    },
    {
      "path": "pug/perfectly-plain.pug",
      "imports": [
        "pug/recipe.pug",
        "pug/includes/head.pug",
        "pug/includes/more.pug",
        "pug/includes/footer.pug"
      ]
    },
    {
      "path": "pug/sweetest-sin.pug",
      "imports": [
        "pug/recipe.pug",
        "pug/includes/head.pug",
        "pug/includes/more.pug",
        "pug/includes/footer.pug"
      ]
    },
    {
      "path": "pug/drunk-on-caffeine.pug",
      "imports": [
        "pug/recipe.pug",
        "pug/includes/head.pug",
        "pug/includes/more.pug",
        "pug/includes/footer.pug"
      ]
    },
    {
      "path": "pug/fleur-de-caramel.pug",
      "imports": [
        "pug/recipe.pug",
        "pug/includes/head.pug",
        "pug/includes/more.pug",
        "pug/includes/footer.pug"
      ]
    },
    {
      "path": "pug/peanut-butter-cup.pug",
      "imports": [
        "pug/recipe.pug",
        "pug/includes/head.pug",
        "pug/includes/more.pug",
        "pug/includes/footer.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false},\"compiler-minify-css\":{\"enabled\":true},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"relative\":\"../\"},\"outputSuffix\":null}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\".min\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\".min\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}