extends recipe.pug
block vars
    - var id = "drunk"
    - var title = "Drunk on Caffeine"
    - var subtitle = "Das beste aus Italien und Schottland vereint"

block teaser
    p Kaffee und Whisky. Die perfekte Kombination. Ich empfehle einen guten Single Malt (rauchige Islay wie Bowmore oder Port Charlotte am besten). Wer diesen Cupcake backt sollte etwas für den Schottischen Alkohol übrig haben.
    p Die Canache sollte mindestens 2h im Voraus zubereitet werden.

block ingredients
    p.small
        span für 12 Cupcakes
    p.small
        i.fa.fa-clock-o
        span  Backen 10-15min 190° C
    h4 Teig
    p 50g Butter
    p 120g Zucker
    p 4 Eigelb
    p 120g Mehl
    p 1 Pk. Backpulver (ca. 2 TL)
    p 100ml Espresso
    p 1TL Vanille
    h4 Buttercreme
    p 4 Eiweiss
    p 115g Zucker
    p 170g weiche Butter
    p 1 EL Single Malt Whisky
    h4 Canache
    p 100g Schokolade
    p 35ml Sahne

block directions
    h4 Canache
    .step
        p Schokolade in kleine Stücke brechen.
    .step
        p Sahne zum Kochen bringen. Dann über die Schokolade giessen, sodass diese komplett bedeckt ist.
        p Ca. 5min stehen lassen
    .step
        p Sahne und Schokolade verrühren, bis die ganze Schokolade geschmolzen und eine glatte, homogene Masse entsteht.
    .step
        p Nach eigenem Ermessen gemahlene Chilliflocken beifügen, bis die erwünschte Schärfe erreicht ist.
    .step
        p Canache mit Cellophan abdecken (dabei das Cellophan auf die Canache legen, sodass keine Haut entsteht) und bei Raumtemperatur mindestens 4h erhärten lassen.
        p Die Masse ist danach Spritzbar.
    h4 Teig
    .step
        p Ofen auf 190°C vorheizen.
    .step
        p Butter und Zucker aufschlagen, bis die Masse deutlich heller ist.
    .step
        p Eier hinzufügen und mixen bis eine homogene, schaumige Masse entsteht.
    .step
        p Mehl und Backpulver mischen.
        p Kaffee und Vanille mischen.
    .step
        p Trockene Zutaten und Milch alternierend dem Teig beifügen, bis eine glatte Masse entsteht.
    .step
        p Cupcake Blech mit Papierförmchen auslegen.
        p Teig auf 12 Förmchen verteilen, Blech auf den Tisch schlagen, sodass die Luftblasen an die Oberfläche steigen.
    .step
        p 10 - 15 Minuten in der oberen Hälfte des Ofens backen.
        p Die Cupcakes sind durch, wenn man einen Zahnstocher in den Teig stecken kann und keine Krümel daran kleben bleiben.
        p Abkühlen lassen.
    h4 Buttercreme
    .step
        p Eiweiss und Zucker mischen.
        p Im Wasserbad rühren bis der Zucker aufgelöst ist und die Masse etwas wärmer als Zimmertemperatur hat.
    .step
        p Eiweiss zu einem festen Meringue aufschlagen.
    .step
        p Klumpenweise weiche Butter hinzufügen und mixen. Die Temperatur der Butter ist entscheidend für das Gelingen der Buttercreme.
        p Nach ca. 5min sollte eine seidige Buttercreme entstanden sein.
    .step
        p Whisky hinzufügen, nach Belieben färben.
    h4 Dekorieren
    .step
        p für den zweifarbigen Effekt entweder den Spritzsack mit Canache ausstreichen und dann Buttercreme hinzufügen oder Esslöffelweise abwechselnd Canache und Buttercreme einfüllen.
        p Auf die Cupcakes spritzen und servieren.
