- var pagetitle = "Cupcakes Deconstructed"
- var pagesubtitle = "Das eBook"
- var pageauthor = "Myriam Frisano"
- var pagedescription = "Die Website für das Cupcake Projekt von Myriam Frisano. Rezepte und ein interaktives eBook erwarten dich."
doctype html
html(lang="de")
    include includes/head.pug

    body.home
        header.main-head
            img(src="img/title.png")
        .content
            .container
                section
                    h1 Das eBook
                    p Das ist kein gewöhnliches Backbuck.
                    p Dieses eBook enthält alle meine Tipps und Tricks rund um das Thema Cupcakes. Im Gegensatz zu anderen Büchern erzählt dieses Buch nicht einfach irgendjemandem. Nein, es spricht zu dir, enthält Bilder und Videos und ganz viel Text, damit auch du zauberhaft leckere Cupcakes backen kannst.
                    br
                    p
                        a.btn(href="https://drive.google.com/file/d/0B-c5WpzYRvhOWEpTM182Yk9VQ1U/view?usp=sharing" target="_blank")
                            | #[i.fa.fa-download] ePub
                        a.btn(href="https://drive.google.com/file/d/0B-c5WpzYRvhOem8tZFh4YmVRRDQ/view?usp=sharing" target="_blank")
                            | #[i.fa.fa-download] PDF

                section
                    h1 Die Rezepte
                    include includes/more.pug
        include includes/footer.pug
    // body end
// html end
