extends recipe.pug
block vars
    - var id = "pb"
    - var title = "Peanut Butter Cup"
    - var subtitle = "Schokolade und Erdnussbutter. Ein Zeitloser Klassiker"

block teaser
    p Erdnusbutter und Schokolade sind eine Traumkombination.

block ingredients
    p.small
        span für 12 Cupcakes
    p.small
        i.fa.fa-clock-o
        span  Backen 10-15min 190° C
    h4 Teig
    p 50g Schokolade
    p 1 EL Erdnussbutter
    p 40g Butter
    p 110g Zucker
    p 4 Eigelb
    p 120g Mehl
    p 1 Pk. Backpulver (ca. 2 TL)
    p 125ml Milch
    h4 Buttercreme
    p 4 Eiweiss
    p 115g Zucker
    p 160g weiche Butter
    p 2 EL Erdnussbutter
    p 50g Schokolade

block directions
    h4 Teig
    .step
        p Ofen auf 190°C vorheizen.
    .step
        p Schokolade schmelzen und abkühlen lassen.
    .step
        p Erdnussbutter, Butter und Zucker aufschlagen, bis die Masse deutlich heller ist.
    .step
        p Eier hinzufügen und mixen bis eine homogene, schaumige Masse entsteht.
    .step
        p Mehl und Backpulver mischen.
        p Milch und Vanille mischen.
    .step
        p Trockene Zutaten und Milch alternierend dem Teig beifügen, bis eine glatte Masse entsteht.
    .step
        p Abgekühlte Schokolade unterrühren.
    .step
        p Cupcake Blech mit Papierförmchen auslegen.
        p Teig auf 12 Förmchen verteilen, Blech auf den Tisch schlagen, sodass die Luftblasen an die Oberfläche steigen.
    .step
        p 10 - 15 Minuten in der oberen Hälfte des Ofens backen.
        p Die Cupcakes sind durch, wenn man einen Zahnstocher in den Teig stecken kann und keine Krümel daran kleben bleiben.
        p Abkühlen lassen.
    h4 Buttercreme
    .step
        p Schokolade schmelzen und abkühlen lassen.
    .step
        p Eiweiss und Zucker mischen.
        p Im Wasserbad rühren bis der Zucker aufgelöst ist und die Masse etwas wärmer als Zimmertemperatur hat.
    .step
        p Eiweiss zu einem festen Meringue aufschlagen.
    .step
        p Klumpenweise weiche Butter hinzufügen und mixen. Die Temperatur der Butter ist entscheidend für das Gelingen der Buttercreme.
        p Nach ca. 5min sollte eine seidige Buttercreme entstanden sein.
    .step
        p Buttercreme halbieren.
        p Eine Hälfte mit Erdnussbutter und eine mit Schokolade vermischen.
    h4 Dekorieren
    .step
        p für den zweifarbigen Effekt entweder den Spritzsack mit einer der beiden Buttercremes ausstreichen und dann die andere hinzufügen oder Esslöffelweise abwechselnd Schokolade und Erdnussbutter einfüllen.
        p Auf die Cupcakes spritzen und servieren.
