extends recipe.pug
block vars
    - var id = "poppy"
    - var title = "Raspberry Delight"
    - var subtitle = "Mohn und Himbeeren, eine traumhafte Kombination"
    
block teaser
    p Als ich sie zum ersten Mal backte, meinten meine Testesser: «Das sind die besten Cupcakes die du je gebacken hast».
    p Ich hab schon eine Menge Cupcakes gebacken. Das sollte also für sich sprechen.
    p Diese Cupcakes sind wunderbar sommerlich, oder erinnern auch in kalten Tagen an die schönen Momente, in denen die Welt noch farbenfroh war. Ausserdem in meinem Fall eine zuckerfreie Buttercreme, da kann man fast schon argumentieren, dass sie gesund sind.

block ingredients
    p.small
        span für 12 Cupcakes
    p.small
        i.fa.fa-clock-o
        span  Backen 10-15min 190° C
    h4 Teig
    p 50g Butter
    p 120g Zucker
    p 1 Ei + 2 Eiweiss
    p 120g Mehl
    p 1 Pk. Backpulver (ca. 2 TL)
    p 1TL Vanille
    p 150g griechischer Joghurt
    p 50g Mohn
    h4 Buttercreme
    p 350g gefrorene Himbeeren
    p (Zucker)
    p 20g Mehl
    p 2 Eigelbe
    p 170 g weiche Butter

block directions
    h4 Buttercreme Teil 1
    .step
        p Himbeeren erhitzen, bis sie zerfallen oder mit einem Blender verarbeiten, bis ein Puree entsteht.
    .step
        p Masse durch ein feines Sieb stossen, sodass keine Kerne mehr übrig sind.
        p Bei Bedarf etwas Zucker hinzufügen, je nach Geschmack.
    .step
        p In einer Schüssel Eigelb und Mehl mischen bis eine homogene Paste entsteht.
    .step
        p Himbeeren in einer Pfanne zum Kochen bringen, dann von der Hitze nehmen.
    .step
        p Einen kleinen Teil der Himbeersauce in die Eierpaste geben, mit einem Schwingbesen mischen, um die Eier zu temperieren.
        p Dann den Rest der Beeren hinzufügen und verrühren.
    .step
        p Masse zurück in den Topf geben und unter ständigem Rühren bei mittlerer Hitze kochen bis ein Pudding entsteht.
        p Von der Hitze nehmen.
    .step
        p Pudding durch ein Sieb stossen, um allfällig entstandene Klumpen zu entfernen.
        p Pudding mit Cellophan abdecken, dabei das Cellophan auf den Pudding legen, sodass keine Haut entstehen kann.
        p Zugedeckt in den Kühlschrank stellen.
        p Die Zeit von Backen der Kuchen und auskühlen sollte reichen, sodass der Pudding abkühlt. Deswegen kann direkt mit dem Teig weitergemacht werden.
    h4 Teig
    .step
        p Ofen auf 190°C vorheizen.
    .step
        p Butter und Zucker aufschlagen, bis die Masse deutlich heller ist.
    .step
        p Eier hinzufügen und mixen bis eine homogene, schaumige Masse entsteht.
    .step
        p Mehl und Backpulver mischen.
        p Joghurt und Vanille mischen.
    .step
        p Trockene Zutaten und Joghurt alternierend dem Teig beifügen, bis ein glatter Teig entsteht.
    .step
        p Mohn unterrühren.
    .step
        p Cupcake Blech mit Papierförmchen auslegen.
        p Teig auf 12 Förmchen verteilen, Blech auf den Tisch schlagen, sodass die Luftblasen an die Oberfläche steigen.
    .step
        p 10 - 15 Minuten in der oberen Hälfte des Ofens backen.
        p Die Cupcakes sind durch, wenn man einen Zahnstocher in den Teig stecken kann und keine Krümel daran kleben bleiben.
        p Abkühlen lassen.
    h4 Buttercreme Teil II
    .step
        p Wenn die Cupcakes ausgekühlt sind, die Butter maximal schaumig schlagen (~10min mixen) die Butter ist dann praktisch weiss.
    .step
        p Pudding in kleinen Portionen hinzufügen.
        p Nach etwa 3min im Mixer entsteht eine wunderschön cremige Buttercreme.
    .step
        p Buttercreme in einen Spritzsack füllen und Cupcakes dekorieren.
        p Nach Belieben mit Mohn bestreuen.
