extends recipe.pug
block vars
    - var id = "sin"
    - var title = "Sweetest Sin"
    - var subtitle = "Sündhaft süss mit einem Hauch von Schärfe"

block teaser
    p Der Teig ist angelehnt an den den man für Devil’s Food Cake verwenden würde, also super flauschig. Die Canache versehe ich hier gerne mit einer grosszügigen Portion Chilli für einen Extra-Kick.
    p Die Canache sollte mindestens 4h ruhen, am besten aber am Vortag vorbereitet werden.

block ingredients
    p.small
        span für 12 Cupcakes
    p.small
        i.fa.fa-clock-o
        span  Backen 10-15min 190° C
    h4 Teig
    p 50g Butter
    p 120g Zucker
    p 2 Eier
    p 60g Mehl
    p 60g Kakao
    p 1 Pk. Backpulver (ca. 2 TL)
    p 130ml Milch
    h4 Canache
    p 300g Zartbitterschokolade
    p 250ml Sahne
    p Chilliflocken, gemahlen

block directions
    h4 Canache
    .step
        p Schokolade in kleine Stücke brechen.
    .step
        p Sahne zum Kochen bringen. Dann über die Schokolade giessen, sodass diese komplett bedeckt ist.
        p Ca. 5min stehen lassen
    .step
        p Sahne und Schokolade verrühren, bis die ganze Schokolade geschmolzen und eine glatte, homogene Masse entsteht.
    .step
        p Nach eigenem Ermessen gemahlene Chilliflocken beifügen, bis die erwünschte Schärfe erreicht ist.
    .step
        p Canache mit Cellophan abdecken (dabei das Cellophan auf die Canache legen, sodass keine Haut entsteht) und bei Raumtemperatur mindestens 4h erhärten lassen.
        p Die Masse ist danach Spritzbar. Bei Wunsch kann die Canache vor Verwendung noch mit dem Mixer aufgeschäumt werden, für eine mehr mousseartige Textur.
    h4 Teig
    .step
        p Ofen auf 190°C vorheizen.
    .step
        p Butter und Zucker aufschlagen, bis die Masse deutlich heller ist.
    .step
        p Eier hinzufügen und mixen bis eine homogene, schaumige Masse entsteht.
    .step
        p Mehl, Kakao und Backpulver mischen.
        p Milch und Vanille mischen.
    .step
        p Trockene Zutaten und Milch alternierend dem Teig beifügen, bis eine glatte Masse entsteht.
    .step
        p Cupcake Blech mit Papierförmchen auslegen.
        p Teig auf 12 Förmchen verteilen, Blech auf den Tisch schlagen, sodass die Luftblasen an die Oberfläche steigen.
    .step
        p 10 - 15 Minuten in der oberen Hälfte des Ofens backen.
        p Die Cupcakes sind durch, wenn man einen Zahnstocher in den Teig stecken kann und keine Krümel daran kleben bleiben.
        p Abkühlen lassen und anschliessend mit der Canache dekorieren.
