$sans-serif: 'Work Sans', sans-serif;
$serif: 'Playfair Display', serif;

$body-bg: white;
$soft: lighten($brown, 80%);

$font-break: 1400px;
$home-recipe-break: 980px;
$home-recipe-break-2: 740px;
$recipe-break-1: 964px;
$sidebar-break: 900px;
